.DS_Store
BrewFile.lock.json
.tags

config/Autodesk/
config/QCAD/
config/btop
config/cb
config/configstore
config/configstore
config/darktable
config/fish
config/gh
config/github-copilot
config/gtk-2.0
config/karabiner
config/op
config/raycast
config/simple-update-notifier
config/stripe
config/uv

tmux/plugins
!tmux/plugins/tpm/

tmp
