.DS_Store
BrewFile.lock.json
.tags

config/Autodesk/
config/QCAD/
config/btop
config/configstore
config/configstore
config/darktable
config/github-copilot
config/gtk-2.0
config/karabiner
config/op
config/simple-update-notifier
config/stripe

tmux/plugins
!tmux/plugins/tpm/

tmp
