[submodule "tomorrow-theme"]
	path = tomorrow-theme
	url = https://github.com/chriskempson/tomorrow-theme
[submodule "base16-theme"]
	path = base16-theme
	url = https://github.com/chriskempson/base16.git
[submodule "themes/base16-iterm2"]
	path = themes/base16-iterm2
	url = https://github.com/chriskempson/base16-iterm2
[submodule "zsh/base16-theme"]
	path = zsh/base16-theme
	url = https://github.com/chriskempson/base16-shell.git
[submodule "themes/base16-shell"]
	path = themes/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "themes/powerline"]
	path = themes/powerline
	url = https://github.com/powerline/fonts
[submodule "themes/fonts"]
	path = themes/fonts
	url = https://github.com/powerline/fonts
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
